<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ABOUT</title>
    <link rel="stylesheet" href="css/about.page.css" />
  </head>

  <body>
    
      <nav>
        <div class="container">
          <div class="logo">
            <img src="" alt="" />
          </div>

          <div class="links">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="work.page.1.html">Work</a>
            </li>
            <li>
              <a href="about.page.html">About</a>
            </li>
            <li>
              <a href="contact.page.html" class="active">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
   


         <main>

<div class="header-content">
  <div class="container grid-2">
    <div class="column-1">
      <h1 class="header-title"></h1>
      <p class="text">Lindsay Clifford (b. 1999) is a filmmaker, animator, and visual artist working in Brooklyn, NY. She is currently pursuing a degree in Film and Video at the School of Visual Arts. </p>
      <div class="column-2 image">
        <img src="./img/header_ 2.png" classs="img-element" alt="">
      </div>
    </div>
  </div>
</div>
        

          

         </main>
  


      <footer>

      </footer>

    <script src="js/main.js"></script>
  </body>


</html>
