<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ABOUT</title>
    <link rel="stylesheet" href="css/collage.page.css" />
  </head>

  <body>

      <div class="container">
          <div class="logo">
              <img src="" alt="" />
          </div>

          <div class="links">
              <ul>
                  <li>
                      <a href="index.html">Home</a>
                  </li>
                  <li>
                      <a href="work.page.1.html">Work</a>
                  </li>
                  <li>
                      <a href="about.page.html">About</a>
                  </li>
                  <li>
                      <a href="contact.page.html" class="active">Contact</a>
                  </li>
              </ul>
          </div>

          <main>
          <div class="image-gallery">

            <div class="column">
              <div class="image">
                <img src="./img/ritual2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/staircase2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/running2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/eclipse.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/newgod.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/liv.png" class="img-element" alt="">
              </div>
            </div>

            <div class="column">
              <div class="image">
                <img src="./img/forestarms2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/tv2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/cameraman2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/underwaterstudy2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/electro2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/apparition2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/sticker2.png" class="img-element" alt="">
              </div>

            </div>

            <div class="column">
              <div class="image">
                <img src="./img/dreamhouse2.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/feminity.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/romance.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/sin.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/somethingnew.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/apparition.png" class="img-element" alt="">
              </div>
              <div class="image">
                <img src="./img/sticker1.png" class="img-element" alt="">
              </div>
            </div>
          </div>
        </main>




          <footer></footer>

        <script src="js/main.js"></script>
  </body>


</html>