<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CONTACT</title>
    <link rel="stylesheet" href="css/contact.page.css" />
  </head>

  <body>
    
      <nav>
        <div class="container">
          <div class="logo">
            <img src="" alt="" />
          </div>

          <div class="links">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="work.page.1.html">Work</a>
            </li>
            <li>
              <a href="about.page.html">About</a>
            </li>
            <li>
              <a href="contact.page.html" class="active">Contact</a>
            </li>
     </ul>
    </div>
  </div>
</nav>



         <main>


          <div class="background">

          </div>

         </main>
  


      <footer>

      </footer>

    <script src="js/main.js"></script>
  </body>


</html>